body{
    font-family:Arial,Tahoma;
}
.navbar {
    width: 100%;
    background: white;
    height: 73px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 2px solid wheat;
}
.container {
    padding: 5px 0;
    width: 85%;
    margin: auto;
   
   

    
}
    .logo{
   
    width:50%;
    float:left;

    
}
ul {
    width: 46%;
    float: left;

    display: inline-block;
}
ul .link-item {
    color: black;
    display: inline-block;
    padding-top: 11px;
    margin-left: 21px;
    font-weight: 600;
    font-size: 13px
}   
ul a {
    color: black;
    list-style: none;
    text-decoration: none;
}
ul a:hover {
    color:orangered;
}
@media(max-width: 991px) {
    .navbar {
        height: 381px;
    }

    .logo {
        width: 100%;
        float: none;
    }

    ul {
        width: 100%;
        float: none;
        padding:0;
        display: block;
    }

        ul .link-item {
            display: block;
            text-align:center;
            
            margin: 4px;
            height: 28px;
        }

            ul .link-item a {
                
                color:orangered;
                
                display:block;
            }
            ul .link-item :hover {
                
                color: black;
                
                
            }


}
@media screen and (min-width:991px) and (max-width:1363px) {
    ul {
        width: 45%;
    }

    .navbar {
        height: 127px;
    }
    .logo{
        padding-top:20px;
    }

    ul .link-item {
       
        padding-top: 29px;
        margin-left:33px;
      
    }
}





